
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #718285;
}


header {
    background-color: #1797b8;
    color: rgb(3, 3, 3); 
    padding: 1rem 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header nav img {
    height: 50px; /
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(7, 8, 8);
    font-weight: bold;
    text-transform: uppercase;
}


main {
    padding: 20px;
}

main img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Anton SC', sans-serif;
    font-size: 3rem;
    color: #07080a;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #050505;
    margin-top: 40px;
    font-size: 2rem;
}

section {
    margin-bottom: 30px;
}

article {
    margin-top: 20px;
}

article img {
    width: 25%;
    height: auto;
}


footer {
    background-color: #817d7d;
    color: rgb(8, 7, 7);
    padding: 20px 0;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav a img {
    width: 30px;
    height: 30px;
}


@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    footer nav {
        flex-direction: column;
    }
}

